@import "tailwindcss";
@source "../views";

@custom-variant dark (&:where(.dark, .dark *));

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --breakpoint-xs: 400px;
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-2md: 874px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1440px;
    --breakpoint-3xl: 1600px;
    --breakpoint-4xl: 1980px;

    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    /* Theme variables */
    --spacing-footer-18: 18px;
    --color-themeGrape: #239485;
    --color-themeBlue: #0097FF;
    --color-themeLightGray: #CECECE;
    --color-themeLightGreen: #9EEBE1;
    --color-themeDarkGray: #666666;
    --color-themeLightBlue: #D0E4F2;
    --color-themeBgDark: #212121;
    --color-themeSmallTextLightGray: #4a5565;
    --color-darkThemeSmallTextLightGray: #D4D4D4;
    --color-themeHoverBlue: #155dfc;
    --color-themeRed: #FF4D4F;
    --color-themeHoverRed: #FF7875;

    --leading-card: 18px;

}

html{
    scrollbar-width: thin;
    scrollbar-color: #0097FF #8d8d8d3a;
}

[x-cloak] {
    display: none !important;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(128, 128, 128, 0.1); 
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #0097FF, #239485);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #0097FF, #239485);
}